.single-box {
  transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.single-box:active {
  transform: scale(0.95);
  background-color: rgba(0, 0, 0, 0.3);
}
